.DemoSlider {
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  width: 100%;
  justify-content: center;
}

.DemoSlider .splideContainer iframe {
  margin-right: auto;
  margin-left: auto;
  object-fit: contain;
  margin-top: 20px;
  width: 60%;
  height: 50%;
  margin-left: 22%;
  margin-right: 22%;
}
